*.swp
.get_header.sh.swp
1day.sh
2day.sh
861668565633835-gb
FigTree_v1.4.3.tgz
FigTree_v1.4.3/
Gblocks_0.91b/
Gblocks_Linux64_0.91b.tar.Z
Laccaria_bicolor500.GI_headers.nr90.aln.fasta.long
RAxML_bestTree.tmp
RAxML_bipartitions.tmp
RAxML_bipartitionsBranchLabels.tmp
RAxML_bootstrap.tmp
bicolor*
foo.sh
parametrics/
phylogenetics/
testate/
tmp.clstr
